/* Variables globales */
:root {
    --background-color: rgb(255,255,255);
    --border-color: #ccc;
    --font-color: #000;
    --button-color: #000;
    --button-hover-background: #000;
    --button-hover-color: #fff;
    --menu-background-color: rgb(230,230,230);
    --footer-background-color: rgb(249,249,249);
    --primary-color: #5b8bf7; /* Usado en la página de inicio de sesión */
    --background-form: #ffffff; /* Usado en la página de inicio de sesión */
    --text-color: #333; /* Usado en la página de inicio de sesión */
    --border-radius: 8px; /* Usado en la página de inicio de sesión */
    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Usado en la página de inicio de sesión */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--background-color);
}

/* Estilos comunes del header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5px;
    background-color: var(--menu-background-color);
    border-bottom: 1px solid var(--border-color);
}

.logo {
    height: 100px;
    width: 110px;
    padding-right:5px;
    margin-right: 5px;
}

.title-container h1 {
    font-size: 24px;
    font-family: 'Poppins';
}

.loginregisterbutton{
    background-color: #3a3b39;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right:20px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.loginregisterbutton:hover{
    background-color: rgb(172, 172, 172);
    color: #000;
}

.login-register-container {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a:hover{
    color:#5b8bf7;
    font-weight: bold;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .login-register-container:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  .login-image {
    width: 100px;
    height: 1px;
    margin-right: 20px; 
}
  
  .header-menu {
    background-color: var(--menu-background-color);
    padding: 20px;
    overflow-x: hidden;
    position: relative;
    z-index: 100;
}

.header-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-menu ul li {
    display: inline-block; /* Cambiamos de block a inline-block */
    position: relative;
}

.header-menu ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Poppins';
    padding: 10px 15px; 
    transition: font-size 0.2s ease;
}

.header-menu ul li a:hover {
    background-color: lightgrey;
    border-radius: 15px;
    transform: 20px; 
    font-size: 18px; 
}   

/* Estilos del contenido principal */
main {
    padding: 20px;
}

/* Estilos del footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--footer-background-color);
    border-top: 1px solid var(--border-color);
    padding: 10px 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Estilos específicos para la página de inicio de sesión */

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color); 
}

.login-container {
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    background: var(--background-form);
    padding: 70px;
    max-width: 400px;
    width: 100%;
}

.subtitle-header {
    margin-bottom: 20px;
    text-align: center;
}

.login-form h2 {
    text-align: center;
    color: var(--text-color);
    margin-bottom: 20px; 
}

.login-form .form-group {
    margin-bottom: 15px;
    text-align: center;
}

.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: var(--border-radius);
}

.login-form input[type="submit"] {
    width: calc(100% - 30px);
    padding: 15px;
    margin-top: 20px;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    color: var(--button-hover-color);
    cursor: pointer;
}

.login-form input[type="submit"]:hover {
    background-color: var(--button-hover-background);
}

.options {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.options a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 0.9em;
}

.options a:hover {
    text-decoration: underline;
}

/*Empresa colaboradora*/

.empresa-colaboradora {
    margin-bottom: 40px; /* Espacio entre secciones de empresas colaboradoras */
    display: flex;
    width: 600px;
    height: 430px;
    margin-left: 400px;
}

.empresa-colaboradora img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 8;
    transition: .5s ease;
}

.empresa-colaboradora img:hover{
    cursor:pointer;
    width: 300px;
    opacity: 1;
    filter: contrast(120%)
}

.logo-empresa-colaboradora {
    position: fixed;
    max-width: 200px; /* Limita el tamaño del logo */
    margin-bottom: 20px; /* Espacio entre el logo y el texto */
}

/* Estilos para la sección de información de la empresa */
.empresa-colaboradora h2 {
    margin: 0 0 10px 0; /* Espacio arriba y abajo del nombre de la empresa */
    font-size: 1.5em; /* Tamaño del título de la empresa */
}

.empresa-colaboradora p{
    font-size: 1em; /* Tamaño del texto descriptivo */
    line-height: 1.6;
    animation-duration: 3s;
    animation-name: slidein;
    padding-left: 100px ;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

}