pbdii/datos.csv
pbdii/datos_100.csv
pbdii/visualizacioneseda/car_year_distribution.html
pbdii/visualizacioneseda/distribucion_gasolina.html
pbdii/visualizacioneseda/make_distribution.html
pbdii/visualizacioneseda/km_distribution.html
pbdii/modelo.pkl