<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MotorMind Tech - Inicio</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header class="bg-light border-bottom">
        <div class="container-fluid d-flex align-items-center justify-content-between py-2">
            <div class="d-flex align-items-center">
                <div class="logo-container">
                    <img src="../static/logo.png" alt="Logo Empresa" class="logo">
                </div>
                <div class="title-container">
                    <h1>MotorMind</h1>
                </div>
            </div>
            <nav class="header-menu">
                <ul class="nav">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="eda">EDA</a></li>
                    <li class="nav-item"><a class="nav-link" href="ml">ML</a></li>
                    <li class="nav-item"><a class="nav-link" href="visualizaciones">Visualizaciones</a></li>
                    <li class="nav-item"><a class="nav-link" href="empresascolaboradoras">Empresas Colaboradoras</a></li>
                    <li class="nav-item"><a class="nav-link" href="sobrenosotros">Sobre Nosotros</a></li>
                </ul>
            </nav>
            <div class="login-register-container">
                {% if session.logged_in %}
                    <button onclick="location.href='/logout'" class="btn btn-dark">Cerrar Sesión</button>
                {% else %}
                    <button onclick="location.href='/login'" class="btn btn-primary">Iniciar Sesión</button>
                    <button onclick="location.href='/register'" class="btn btn-secondary ml-2">Registrarse</button>
                {% endif %}
            </div>
        </div>
    </header>    
    <main class="container mt-5 pt-5">
        <section id="about-us" class="mb-5">
            <h2>MotorMind Tech</h2>
            <p>
                MotorMind Tech es una empresa innovadora en el ámbito de la inteligencia artificial y el análisis de datos para la industria automotriz.
                Nos especializamos en proporcionar soluciones avanzadas de Exploración de Datos (EDA), Machine Learning (ML) y visualización de datos
                para optimizar el rendimiento, la seguridad y la eficiencia de los vehículos. Nuestro equipo está compuesto por expertos en datos,
                ingenieros de software y especialistas en el sector automotor comprometidos con la excelencia y la innovación.
            </p>
        </section>
        <section id="services" class="mb-5">
            <h2>Nuestros Servicios</h2>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Exploración de Datos (EDA):</strong> Analizamos grandes conjuntos de datos para identificar patrones, tendencias y relaciones
                    que informen decisiones de diseño y producción.
                </li>
                <li class="list-group-item">
                    <strong>Machine Learning (ML):</strong> Desarrollamos modelos predictivos y algoritmos de aprendizaje automático para mejorar las
                    operaciones y la toma de decisiones estratégicas en la industria automotriz.
                </li>
                <li class="list-group-item">
                    <strong>Visualización de Datos:</strong> Creamos representaciones gráficas interactivas de datos que facilitan la comprensión de
                    información compleja y apoyan el proceso de toma de decisiones.
                </li>
            </ul>
        </section>
        <section id="collaborations" class="mb-5">
            <h2>Empresas Colaboradoras</h2>
            <p>
                En MotorMind Tech, creemos en la fuerza de la colaboración. Nos enorgullece trabajar codo a codo con algunas de las empresas más
                innovadoras del sector automotriz para impulsar el avance tecnológico y contribuir a la creación de vehículos más seguros,
                eficientes y sostenibles.
            </p>
        </section>
        <section id="contact-us">
            <h2>Contacta con Nosotros</h2>
            <p>
                ¿Interesado en saber más sobre nuestros servicios o iniciar un proyecto con nosotros? No dudes en contactarnos a través de nuestros
                canales de comunicación. Estamos aquí para ayudarte a impulsar tu proyecto automotriz al siguiente nivel con el poder de la inteligencia
                artificial y el análisis de datos.
            </p>
        </section>
    </main>
    <footer class="bg-light border-top py-3 text-center">
        <p>Stefan Raos Bermúdez / Pablo Gonzalez Castro / Pablo Bailador Pollo ///// +34 631 342 682 ///// <a href="https://universidadeuropea.com/">Universidad Europea</a></p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
