<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MotorMind Tech - Machine Learning</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header class="bg-light border-bottom">
        <div class="container-fluid d-flex align-items-center justify-content-between py-2">
            <div class="d-flex align-items-center">
                <div class="logo-container">
                    <img src="../static/logo.png" alt="Logo Empresa" class="logo">
                </div>
                <div class="title-container">
                    <h1>MotorMind</h1>
                </div>
            </div>
            <nav class="header-menu">
                <ul class="nav">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="eda">EDA</a></li>
                    <li class="nav-item"><a class="nav-link" href="ml">ML</a></li>
                    <li class="nav-item"><a class="nav-link" href="visualizaciones">Visualizaciones</a></li>
                    <li class="nav-item"><a class="nav-link" href="empresascolaboradoras">Empresas Colaboradoras</a></li>
                    <li class="nav-item"><a class="nav-link" href="sobrenosotros">Sobre Nosotros</a></li>
                </ul>
            </nav>
            <div class="login-register-container">
                {% if session.logged_in %}
                    <button onclick="location.href='/logout'" class="btn btn-dark">Cerrar Sesión</button>
                {% else %}
                    <button onclick="location.href='/login'" class="btn btn-primary">Iniciar Sesión</button>
                    <button onclick="location.href='/register'" class="btn btn-secondary ml-2">Registrarse</button>
                {% endif %}
            </div>
        </div>
    </header> 
    <main class="container mt-5 pt-5">
        <div class="content-wrapper">
            <h1 class="mb-4">Predicción de Precios de Coches</h1>
            <div class="main-content">
                <form id="predictionForm" class="mb-4">
                    <div class="form-group">
                        <label for="make">Marca:</label>
                        <select id="make" name="make" class="form-control" required></select>
                    </div>
                    <div class="form-group">
                        <label for="model">Modelo:</label>
                        <select id="model" name="model" class="form-control" required></select>
                    </div>
                    <div class="form-group">
                        <label for="km">Kilometraje:</label>
                        <input type="number" id="km" name="km" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="fueltype">Tipo de Combustible:</label>
                        <select id="fueltype" name="fueltype" class="form-control" required></select>
                    </div>
                    <div class="form-group">
                        <label for="transmission">Transmisión:</label>
                        <select id="transmission" name="transmission" class="form-control" required></select>
                    </div>
                    <div class="form-group">
                        <label for="horse_power">Potencia (HP):</label>
                        <input type="number" id="horse_power" name="horse_power" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="car_age">Edad del Coche:</label>
                        <input type="number" id="car_age" name="car_age" class="form-control" required>
                    </div>
                    <button type="button" onclick="submitPredictionForm()" class="btn btn-primary btn-block">Obtener Precio</button>
                </form>
                <div class="price-display-container">
                    <p class="price-display">Precio estimado: <span id="result"></span></p>
                </div>
            </div>
        </div>
    </main>
    <footer class="bg-light border-top py-3 text-center">
        <p>Stefan Raos Bermúdez / Pablo Gonzalez Castro / Pablo Bailador Pollo ///// +34 631 342 682 ///// <a href="https://universidadeuropea.com/">Universidad Europea</a></p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        const BASE_URL = window.location.origin;

        document.addEventListener('DOMContentLoaded', function() {
            loadDropdownOptions('make');
            loadDropdownOptions('fueltype');
            loadDropdownOptions('transmission');
        });

        document.getElementById('make').addEventListener('change', function() {
            loadDropdownOptions('model', this.value);
        });

        function loadDropdownOptions(field, make = '') {
            let url = make && field === 'model' ? `${BASE_URL}/get_unique_values/${field}?make=${make}` : `${BASE_URL}/get_unique_values/${field}`;
            fetch(url)
            .then(response => response.json())
            .then(data => {
                let select = document.getElementById(field);
                select.innerHTML = '<option value="">Seleccione uno...</option>'; // Añade un valor por defecto
                data.forEach(option => {
                    let optionElement = document.createElement('option');
                    optionElement.value = option;
                    optionElement.textContent = option;
                    select.appendChild(optionElement);
                });
            })
            .catch(error => console.error('Error loading options for ' + field + ':', error));
        }

        function submitPredictionForm() {
            let form = document.getElementById('predictionForm');
            let formData = new FormData(form);
            let jsonData = {};
            for (let [key, value] of formData.entries()) {
                jsonData[key] = value;
            }
            
            fetch(`${BASE_URL}/predict`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(jsonData)
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('La respuesta de la red no fue ok.');
                }
                return response.json();
            })
            .then(data => {
                if(data.prediction !== undefined){
                    const predictionInLira = parseFloat(data.prediction);
                    const exchangeRate = 0.031; // Tasa de cambio de lira a euro.
                    const predictionInEuro = predictionInLira * exchangeRate;

                    document.getElementById('result').textContent = `₺${predictionInLira.toFixed(2)} = €${predictionInEuro.toFixed(2)}`;
                } else {
                    throw new Error('El objeto de respuesta no contiene la predicción.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById('result').textContent = 'Error: ' + error.message;
            });
        }
    </script>
</body>
</html>
