<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MotorMind Tech - Machine Learning</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="../static/logo.png" alt="Logo Empresa" class="logo">
        </div>
        <div class="title-container">
            <h1>MotorMind</h1>
        </div>
        <aside>
            <nav class="header-menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="eda">EDA</a></li>
                    <li><a href="ml">ML</a></li>
                    <li><a href="visualizaciones">Visualizaciones</a></li>
                    <li><a href="empresascolaboradoras">Empresas Colaboradoras</a></li>
                    <li><a href="sobrenosotros">Sobre Nosotros</a></li>
                </ul>
            </nav>
        </aside>
        <div class="login-register-container">
            <button class="loginregisterbutton">Log In</button>
            <div class="dropdown-content">
              <a href="login.html">Iniciar Sesión</a>
              <a href="register.html">Registrarse</a>
            </div>
          </div>
          
        </header>
        <div class="content-wrapper">
            <h1>Predicción de Precios de Coches</h1>
            <div class="main-content">
                <form id="predictionForm">

        <div>
            <label for="make">Marca:</label>
            <select id="make" name="make" required></select>
        </div>
        <div>
            <label for="model">Modelo:</label>
            <select id="model" name="model" required></select>
        </div>
        <div>
            <label for="km">Kilometraje:</label>
            <input type="number" id="km" name="km" required>
        </div>
        <div>
            <label for="fueltype">Tipo de Combustible:</label>
            <select id="fueltype" name="fueltype" required></select>
        </div>
        <div>
            <label for="transmission">Transmisión:</label>
            <select id="transmission" name="transmission" required></select>
        </div>
        <div>
            <label for="horse_power">Potencia (HP):</label>
            <input type="number" id="horse_power" name="horse_power" required>
        </div>
        <div>
            <label for="car_age">Edad del Coche:</label>
            <input type="number" id="car_age" name="car_age" required>
        </div>
        <button type="button" onclick="submitPredictionForm()" class="price-prediction-button">Obtener Precio</button>
    </form>
    <div class="price-display-container">   
        <p class="price-display">Precio estimado: <span id="result"></span></p>
    </div>
    <script>
       const BASE_URL = window.location.origin;

document.addEventListener('DOMContentLoaded', function() {
    loadDropdownOptions('make');
    loadDropdownOptions('fueltype');
    loadDropdownOptions('transmission');
});

document.getElementById('make').addEventListener('change', function() {
    loadDropdownOptions('model', this.value);
});

function loadDropdownOptions(field, make = '') {
    let url = make && field === 'model' ? `${BASE_URL}/get_unique_values/${field}?make=${make}` : `${BASE_URL}/get_unique_values/${field}`;
    fetch(url)
    .then(response => response.json())
    .then(data => {
        let select = document.getElementById(field);
        select.innerHTML = '<option value="">Seleccione uno...</option>'; // Añade un valor por defecto
        data.forEach(option => {
            let optionElement = document.createElement('option');
            optionElement.value = option;
            optionElement.textContent = option;
            select.appendChild(optionElement);
        });
    })
    .catch(error => console.error('Error loading options for ' + field + ':', error));
}

function submitPredictionForm() {
    let form = document.getElementById('predictionForm');
    let formData = new FormData(form);
    let jsonData = {};
    for (let [key, value] of formData.entries()) {
        jsonData[key] = value;
    }
    
    fetch(`${BASE_URL}/predict`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(jsonData)
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('La respuesta de la red no fue ok.');
        }
        return response.json();
    })
    .then(data => {
        if(data.prediction !== undefined){
            const predictionInLira = parseFloat(data.prediction);
            const exchangeRate = 0.031; // Tasa de cambio de lira a euro.
            const predictionInEuro = predictionInLira * exchangeRate;

            document.getElementById('result').textContent = `₺${predictionInLira.toFixed(2)} = €${predictionInEuro.toFixed(2)}`;
        } else {
            throw new Error('El objeto de respuesta no contiene la predicción.');
        }
    })
    .catch(error => {
        console.error('Error:', error);
        document.getElementById('result').textContent = 'Error: ' + error.message;
    });
}

    </script>
</body>
</html>
