<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MotorMind Tech - Sobre Nosotros</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header class="bg-light border-bottom">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center" href="#">
                    <img src="../static/logo.png" alt="Logo Empresa" class="logo mr-2">
                    <h1 class="mb-0">MotorMind</h1>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="eda">EDA</a></li>
                        <li class="nav-item"><a class="nav-link" href="ml">ML</a></li>
                        <li class="nav-item"><a class="nav-link" href="visualizaciones">Visualizaciones</a></li>
                        <li class="nav-item"><a class="nav-link" href="empresascolaboradoras">Empresas Colaboradoras</a></li>
                        <li class="nav-item"><a class="nav-link" href="sobrenosotros">Sobre Nosotros</a></li>
                    </ul>
                    <div class="ml-lg-3 mt-3 mt-lg-0">
                        {% if session.logged_in %}
                            <button onclick="location.href='/logout'" class="btn btn-dark">Cerrar Sesión</button>
                        {% else %}
                            <button onclick="location.href='/login'" class="btn btn-primary">Iniciar Sesión</button>
                            <button onclick="location.href='/register'" class="btn btn-secondary ml-2">Registrarse</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main class="container mt-5 pt-5">
        <section id="about-us" class="mb-5">
            <h2 class="text-center mb-4">Sobre Nosotros</h2>
            <div class="row">
                <div class="col-md-6">
                    <img src="../static/logo.png" class="img-fluid rounded mb-4" alt="Nuestra Misión" style="height: 250px; margin-left: 110px;">
                </div>
                <div class="col-md-6">
                    <p>MotorMind Tech es una empresa innovadora en el ámbito de la inteligencia artificial y el análisis de datos para la industria automotriz. Nos especializamos en proporcionar soluciones avanzadas de Exploración de Datos (EDA), Machine Learning (ML) y visualización de datos para optimizar el rendimiento, la seguridad y la eficiencia de los vehículos. Nuestro equipo está compuesto por expertos en datos, ingenieros de software y especialistas en el sector automotor comprometidos con la excelencia y la innovación.</p>
                </div>
            </div>
        </section>
        <section id="our-mission" class="mb-5">
            <h2 class="text-center mb-4">Nuestra Misión</h2>
            <p class="text-center">En MotorMind Tech, nuestra misión es revolucionar la industria automotriz mediante el uso de tecnologías avanzadas de datos. Nos esforzamos por crear soluciones que no solo mejoren el rendimiento de los vehículos, sino que también incrementen la seguridad y la sostenibilidad en el sector.</p>
        </section>
        <section id="team" class="mb-5">
            <h2 class="text-center mb-4">Nuestro Equipo</h2>
            <div class="row">
                <div class="col-md-3 mb-4" style="margin-left: 200px;">
                    <div class="card">
                        <img src="../static/srb.jpg" class="card-img-top" alt="Stefan Raos Bermúdez">
                        <div class="card-body text-center">
                            <h5 class="card-title">Stefan Raos Bermúdez</h5>
                            <p class="card-text">CEO & Fundador</p>
                            <p class="card-text"><small class="text-muted">sstefanrb@gmail.com</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <img src="../static/pgc.jpeg" class="card-img-top" alt="Pablo Gonzalez Castro" style = "height: 390px; width: auto;">
                        <div class="card-body text-center">
                            <h5 class="card-title">Pablo Gonzalez Castro</h5>
                            <p class="card-text">CEO & Fundador</p>
                            <p class="card-text"><small class="text-muted">pablogonzalez@gmail.com</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <img src="../static/pbp.jpeg" class="card-img-top" alt="Pablo Bailador Pollo" style="height: 395px;">
                        <div class="card-body text-center">
                            <h5 class="card-title">Pablo Bailador Pollo</h5>
                            <p class="card-text">CEO & Fundador</p>
                            <p class="card-text"><small class="text-muted">pablobailadorpollo@gmail.com</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="bg-light border-top py-3 text-center">
        <p>Stefan Raos Bermúdez / Pablo Gonzalez Castro / Pablo Bailador Pollo ///// +34 631 342 682 ///// <a href="https://universidadeuropea.com/">Universidad Europea</a></p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
