/* Variables globales */
:root {
    --background-color: rgb(255,255,255);
    --border-color: #ccc;
    --font-color: #000;
    --button-color: #000;
    --button-hover-background: #000;
    --button-hover-color: #fff;
    --menu-background-color: rgb(230,230,230);
    --footer-background-color: rgb(249,249,249);
    --primary-color: #5b8bf7; /* Usado en la página de inicio de sesión */
    --background-form: #ffffff; /* Usado en la página de inicio de sesión */
    --text-color: #333; /* Usado en la página de inicio de sesión */
    --border-radius: 8px; /* Usado en la página de inicio de sesión */
    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Usado en la página de inicio de sesión */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--background-color);
}

/* Estilos comunes del header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5px;
    background-color: var(--menu-background-color);
    border-bottom: 1px solid var(--border-color);
}

.logo {
    height: 100px;
    width: 110px;
    padding-right:5px;
    margin-right: 5px;
}

.title-container h1 {
    font-size: 24px;
    font-family: 'Poppins';
}

.loginregisterbutton{
    background-color: #3a3b39;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right:20px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.loginregisterbutton:hover{
    background-color: rgb(172, 172, 172);
    color: #000;
}

.login-register-container {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a:hover{
    color:#5b8bf7;
    font-weight: bold;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .login-register-container:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  .login-image {
    width: 100px;
    height: 1px;
    margin-right: 20px; 
}
  
  .header-menu {
    background-color: var(--menu-background-color);
    padding: 20px;
    overflow-x: hidden;
    position: relative;
    z-index: 100;
}

.header-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-menu ul li {
    display: inline-block; /* Cambiamos de block a inline-block */
    position: relative;
}

.header-menu ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Poppins';
    padding: 10px 15px; 
    transition: font-size 0.2s ease;
}

.header-menu ul li a:hover {
    background-color: lightgrey;
    border-radius: 15px;
    transform: 20px; 
    font-size: 18px; 
}   

/* Estilos del contenido principal */
main {
    padding: 20px;
}

/* Estilos del footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--footer-background-color);
    border-top: 1px solid var(--border-color);
    padding: 10px 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Secciones */
section {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

section h2 {
    color: #20232a;
    margin-bottom: 15px;
}

/* Estilos específicos para la página de inicio de sesión */

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color); 
}

.login-container {
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    background: var(--background-form);
    padding: 70px;
    max-width: 400px;
    width: 100%;
}

.subtitle-header {
    margin-bottom: 20px;
    text-align: center;
}

.login-form h2 {
    text-align: center;
    color: var(--text-color);
    margin-bottom: 20px; 
}

.login-form .form-group {
    margin-bottom: 15px;
    text-align: center;
}

.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: var(--border-radius);
}

.login-form input[type="submit"] {
    width: calc(100% - 30px);
    padding: 15px;
    margin-top: 20px;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    color: var(--button-hover-color);
    cursor: pointer;
}

.login-form input[type="submit"]:hover {
    background-color: var(--button-hover-background);
}

.options {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.options a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 0.9em;
}

.options a:hover {
    text-decoration: underline;
}

.empresa-colaboradora {
    margin-bottom: 40px; 
    display: flex;
    width: 600px;
    height: 430px;
    margin-left:20px;
    margin-right:20px;
}

.empresa-colaboradora img{
    width: 400px;
    height: 600px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: .5s ease;
}

.empresa-colaboradora img:hover{
    cursor:pointer;
    width: 110%;
    opacity: 1;
    filter: contrast(120%)
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
        }
    
        to {
        margin-left: 0%;
        width: 100%;
        }
    }

    }

    /* Pagina EDA */
 
    #images-visualizacion h2{
        text-align: center;
        margin-bottom: 20px;
    }

    .images {
        display: flex;
        flex-wrap: wrap;
        gap: 20px; /* Esto crea un espacio entre las imágenes y los iframes */
        justify-content: center;
    }
    
    .image-container {
        flex: 1;
        width: 500px;
        position: relative; 
        margin-left: 100px;
    }
    
    .image-container iframe,
    .image-container img {
        width: 500px; 
        height: 500px;
        border: none; 
        display: block; 
    }
    
    .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        text-align: center;
        padding: 10px;
    }
    

    /* Pagina de Ml */

   /* Estilo del formulario */
form {
    background: white;
    max-width: 80%;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Contenedor para dos columnas */
  .form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  /* Estilo de cada columna */
  .form-group div {
    flex: 1; /* Cada div toma el mismo espacio */
    margin-right: 10px;
  }
  
  /* Ajuste para el último elemento (no necesita margen a la derecha) */
  .form-group div:last-child {
    margin-right: 0;
  }
  
  label {
    display: block;
    margin-bottom: 0.5em;
    color: #333;
  }
  
  input[type=number],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  /* Estilo del resultado */
  #result {
    font-weight: bold;
    color: #4cae4c;
    margin-top: 10px;
  }